language: go
go:
- tip
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install build-essential lintian -y
  - mkdir -p ${GOPATH}/bin
  - cd ~
  - curl https://glide.sh/get | sh
  - wget -q -O - --no-check-certificate https://raw.githubusercontent.com/mh-cbon/changelog/master/install.sh | sh
install:
  - cd $GOPATH/src/github.com/mh-cbon/go-bin-deb
  - glide install
  - go install
script: echo "pass"
before_deploy:
  - mkdir -p build/{386,amd64}
  - GOOS=linux GOARCH=386 go build --ldflags "-X main.VERSION=${TRAVIS_TAG}" -o build/386/go-bin-deb main.go
  - GOOS=linux GOARCH=amd64 go build --ldflags "-X main.VERSION=${TRAVIS_TAG}" -o build/amd64/go-bin-deb main.go
  - go-bin-deb generate -a 386 --version ${TRAVIS_TAG} -w pkg-build-386/ -o ${TRAVIS_BUILD_DIR}/go-bin-deb-386.deb
  - go-bin-deb generate -a amd64 --version ${TRAVIS_TAG} -w pkg-build-amd64/ -o ${TRAVIS_BUILD_DIR}/go-bin-deb-amd64.deb
deploy:
  provider: releases
  api_key:
    secure: HKm29gdaXNCnLkV7Wph7ysOrgGk/ej2aoR6zjMZIwC3VvxpxNmbPl6/6MNblg8WKrUnLYWbJWHW5lspcEsq7NauymCJei7a1TvVDtM25H4F0O0dJD4xbS3Hb+qhugKkZXDMLpI8uClylxfyI+dpfOO1VTigHE9GcFkYfbZW5r8cspPQmkm+aii1UAs6zLXHWEoDqXsgxamAlHw18W8IfpHs7tFEUoIF3XxL65wUmOkk6XnXF/31hh9dmYS/WvbnrjGurSfXDlWkfFwzndSEcJpqBaaYpcEjwgV9x3pYwwYEF/R+P94i0NZwI0jAS8Sh0vfjKXGA5FkPocALBEnGyTmMr7PDa1g6kqUmuV3Q3/5vdejsTFSJY+OMvVS48thH9yTQE4MGFXG9u1J8UBlsCkabnfNADPjyc9liPbWEAjC7aIqinCoxwJ92XZ23uVGiE1aDtgk+g96iKr2WcHMre2s6JXNnkn3Mb/LYqTTtMpGpZZaKaFzOZ2IKSqLZIdqhNncWX75RzYPwbpBWKbbUVfK2i6x6SekbgFn0v/kx20g/3kYDptRMO6x/XDW2fAuIzY8p/v5zOLTzRow76ssLExBGLyUeEx6NUz1o5ronLwD8DyBlZ1PcX5uXzXztk39aVT41602o7GBSP+Y9iqjTV12aNUgrV6tFF5YtmuTFVCuE=
  file:
    - go-bin-deb-386.deb
    - go-bin-deb-amd64.deb
  skip_cleanup: true
  on:
    tags: true
